<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<div id="password">
  <div class="container">
    <div id="password-row" class="row justify-content-center align-items-center">
      <div id="password-column" class="col-md-6">
        <div id="password-box" class="col-md-12">
          <form id="password-form">
            <h3 class="text-center ">Change your password</h3>
            <hr>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>

              <div class="field">
                <%= f.label :password, "New password" %><br />
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirm new password" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              <br>
              <div class="actions">
                <%= f.submit "Change my password", class: "btn btn-info btn-md" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
