<div class="container row justify-content-center mx-auto" id="cart-container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 cart-box p-5 my-4">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-6">
							<h5>Shopping Cart</h5>
						</div>
						<div class="col-6 text-right">
							<%= link_to "Continue shopping", root_path, class: "btn btn-primary btn-sm" %>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<% @cart.items.each do |item| %>
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-2"><%= image_tag item.thumbnail, :class => "cat_picture" %>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<h4 class="product-name"><strong><%= item.title %></strong></h4><h4><small><%= item.description %></small></h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<br>
							<div class="row">
								<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								</div>
								<div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 text-right" id="price">
									<h6><strong><%= item.price %><span class="text-muted"> € x</span></strong></h6>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3 pt-2">
									<%= CartItemJointable.find_by(cart: @cart, item: item).quantity %>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3 pt-2">
									<%= button_to cart_add_to_path(@cart, item), method: "put", class:"btn btn-primary" do %>
										<i class="fas fa-plus"></i>
									<% end %>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-2 col-lg-3 pt-2">
									<%= button_to cart_remove_one_path(@cart, item), method: "put", class:"btn btn-primary" do %>
										<i class="fas fa-minus"></i>
									<% end %>
								</div>

								<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 text-right">
									<%= button_to cart_remove_from_path(current_user.cart, item), method: "put", class:"btn btn-danger" do %>
                  	<i class="far fa-trash-alt"></i>
                	<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				<hr>
				<div class="row">
					<div class="col-xs-5 col-sm-6 col-md-7 col-lg-9">
						<h6 class="text-right">Added items?</h6>
					</div>
					<div class="col-xs-7 col-sm-6 col-md-5 col-lg-3">
						<button type="button" class="btn btn-info btn-sm btn-block">
							Update Cart
						</button>
					</div>
				</div>
			</div>
			<br>
			<div class="panel-footer">
				<div class="row text-right">
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
						<h4>Total <strong><%= @cart.total %>€</strong></h4>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<%= button_to "Checkout", cart_create_path(cart_id: @cart.id), class:"btn btn-success btn-block", remote: true %>
					</div>
				</div>
			</div>
	</div>
</div>
