
<div class="container" id="showpage">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <%= image_tag @item.thumbnail, :class => "card-img", :id => "card_style_img_show" %>
        <div class="card-body">
          <h5 class="card-title"> <%= @item.title %> </h5>
          <p class="card-text"> <%= @item.description %> </p>
          <p class="card-text"> <%= @item.price %> € </p>
          <tr>
            <% if user_signed_in? %>
              <%= button_to "Add to cart", cart_add_to_path(current_user.cart, @item), method: "put", class: "btn btn-outline-primary" %>
              <%= link_to 'Back', items_path, class: "btn btn-outline-secondary" %>
            <% else %>
              <%= link_to 'Back', items_path, class: "btn btn-outline-secondary" %>
            <% end %>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>
